<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Libro Leído</title>
    <link rel="stylesheet" href="{{ url_for('custom_static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Agregar Libro Leído</h1>
        <form method="post">
            <label for="book_title">Título del Libro:</label>
            <input type="text" id="book_title" name="book_title" required>

            <label for="book_genre">Género del Libro:</label>
            <select id="book_genre" name="book_genre" required>
                <option value="Aventura">Aventura</option>
                <option value="Ciencia ficción">Ciencia ficción</option>
                <option value="Drama">Drama</option>
                <option value="Épica">Épica</option>
                <option value="Fantasía">Fantasía</option>
                <option value="Ficción">Ficción</option>
                <option value="Horror">Horror</option>
                <option value="Misterio">Misterio</option>
                <option value="Realismo mágico">Realismo mágico</option>
                <option value="Romance">Romance</option>
                <option value="Thriller">Thriller</option>
            </select>

            <label for="book_author">Autor del Libro:</label>
            <input type="text" id="book_author" name="book_author" required>

            <button type="submit">Agregar</button>
        </form>
        <a href="{{ url_for('dashboard') }}">Volver al Panel</a>
    </div>
</body>
</html>
