<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('custom_static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Panel de Usuario</h1>
        <div class="button-group">
            <a href="{{ url_for('add_book') }}" class="btn btn-primary">Agregar Libro Leído</a>
            <a href="{{ url_for('recommend') }}" class="btn btn-primary">Recomendar Libros</a>
            <a href="{{ url_for('liked_books') }}" class="btn btn-primary">Libros que te Gustaron</a>
            <a href="{{ url_for('logout') }}" class="btn btn-primary">Cerrar Sesión</a>
        </div>
    </div>
</body>
</html>
