<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Usuario</title>
</head>
<body>
    <h1>Panel de Usuario</h1>
    <a href="{{ url_for('add_book') }}">Agregar Libro Leído</a><br><br>
    <a href="{{ url_for('recommend') }}">Recomendar Libros</a><br><br>
    <a href="{{ url_for('liked_books') }}">Libros que te Gustaron</a><br><br>
    <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
</body>
</html>
