<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMatch</title>
    <link rel="stylesheet" href="{{ url_for('custom_static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <div class="button-group">
            <a href="{{ url_for('register') }}" class="btn btn-primary">Registrar Usuario</a>
            <a href="{{ url_for('login') }}" class="btn btn-primary">Iniciar Sesión</a>
        </div>
    </div>
</body>
</html>
