<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros que te Gustaron</title>
    <link rel="stylesheet" href="{{ url_for('custom_static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Libros que te Gustaron</h1>
        <ul>
            {% if liked_books %}
                {% for book in liked_books %}
                    <li class="book">
                        <img src="{{ url_for('static', filename='images/' + book.title.replace(' ', '_') + '.jpg') }}" alt="Foto del libro">
                        <div class="book-info">
                            <h2>{{ book.title }}</h2>
                            <p>{{ book.description }}</p>
                            <p><strong>Género:</strong> {{ book.genre }}</p>
                            <a class="btn btn-primary" href="{{ url_for('unlike_book', title=book.title) }}">Ya no me gusta</a>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <p>No has marcado ningún libro como "Me gusta".</p>
            {% endif %}
        </ul>
        <a class="btn btn-primary" href="{{ url_for('dashboard') }}">Volver al Panel</a>
    </div>
</body>
</html>
