<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones de Libros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Recomendaciones de Libros</h1>
        {% if recommendations %}
            <ul>
                {% for book in recommendations %}
                    <li class="book">
                        <div class="book-info">
                            <h2>{{ book.title }}</h2>
                            <p><strong>Autor:</strong> {{ book.author }}</p>
                            <p><strong>Género:</strong> {{ book.genre }}</p>
                            <p>{{ book.description }}</p>
                            <a class="button" href="{{ url_for('like_book', title=book.title) }}">Me gusta</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay recomendaciones disponibles porque el usuario actual no ha leído suficientes libros o no hay usuarios similares que hayan leído libros diferentes.</p>
        {% endif %}
        <a class="button" href="{{ url_for('dashboard') }}">Volver al Panel</a>
    </div>
</body>
</html>
