<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Recomendaciones de Libros</h1>
        <ul>
            {% if recommendations %}
                {% for rec in recommendations %}
                    <li class="book">
                        <img src="{{ url_for('static', filename='images/' + rec.title | replace(' ', '_') + '.jpg') }}" alt="Foto de {{ rec.title }}">
                        <div class="book-info">
                            <h2>{{ rec.title }}</h2>
                            <p>{{ rec.description }}</p>
                            <a class="button" href="{{ url_for('like_book', title=rec.title) }}">Like</a>
                        </div>
                        <form action="{{ url_for('upload_photo', title=rec.title) }}" method="post" enctype="multipart/form-data">
                            <input type="file" name="photo">
                            <input class="button" type="submit" value="Cargar Foto">
                        </form>
                    </li>
                {% endfor %}
            {% else %}
                <li>No hay recomendaciones disponibles porque el usuario actual no ha leído suficientes libros o no hay usuarios similares que hayan leído libros diferentes.</li>
            {% endif %}
        </ul>
        <a class="button" href="{{ url_for('dashboard') }}">Volver al Panel</a>
    </div>
</body>
</html>
